<!-- src/app/announcements/announcements.component.html -->
<div class="container">
  <div class="about-event mt-50">
    <div class="event-title">
      <h3>Upcoming Announcements</h3>
    </div>
    <ul id="event-list">
      <li *ngFor="let announcement of announcements">
        <div class="singel-event">
          <span
            ><i class="fa fa-calendar"></i>
            {{ formatDate(announcement.createdAt) }}</span
          >
          <a href="#"
            ><h4>{{ announcement.title }}</h4></a
          >
          <span
            ><i class="fa fa-clock-o"></i>
            {{ formatTime(announcement.createdAt) }}</span
          >
          <span class="doctor-name">Doctor: {{ announcement.doctorName }}</span>
          <p>{{ announcement.message }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
