<div class="container">
  <h2>Week Schedule Calendar</h2>
  <div class="calendar">
    <div class="schedule">
      <div class="day" *ngFor="let day of weekDays">
        <div class="day-header">{{ day }}</div>
        <div class="lectures">
          <div class="lecture" *ngFor="let lecture of lecturesData[day]">
            <span class="lecture-time">{{ lecture.time }}</span>
            {{ lecture.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>Week Schedule Calendar</h2>
  <div class="calendar">
    <div class="schedule">
      <div class="day" *ngFor="let day of weekDays">
        <div class="day-header">{{ day }}</div>
        <div class="lectures">
          <div class="lecture" *ngFor="let lecture of lecturesData[day]">
            <span class="lecture-time">{{ lecture.time }}</span>
            {{ lecture.title }}
            <button (click)="deleteLecture(lecture.id)">Delete</button>
            <button (click)="updateLecture(lecture)">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <form (ngSubmit)="addLecture()">
    <label for="day">Day:</label>
    <select [(ngModel)]="newLecture.dayScheduleId" name="day">
      <option *ngFor="let day of weekDays; let i = index" [value]="i + 1">
        {{ day }}
      </option>
    </select>
    <label for="title">Title:</label>
    <input type="text" [(ngModel)]="newLecture.title" name="title" />
    <label for="time">Time:</label>
    <input type="text" [(ngModel)]="newLecture.time" name="time" />
    <button type="submit">Add</button>
  </form> -->
</div>
