.container {
    padding: 20px;
}

.custom-table {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: border-color 0.3s ease;
}

.custom-table:hover {
    border-color: #555; /* Change border color on hover */
}

.search-input {
    margin-bottom: 20px;
}
