<div class="container">
  <h2 class="header">Weekly Schedule</h2>

  <div class="schedule-table">
    <table>
      <thead>
        <tr>
          <th>Day</th>
          <th>Time</th>
          <th>Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lecture of lectures">
          <td>{{ weekDays[lecture.dayScheduleId] }}</td>
          <td>{{ lecture.time }}</td>
          <td>{{ lecture.title }}</td>
          <td>
            <button class="btn-update" (click)="updateLecture(lecture)">
              Update
            </button>
            <button class="btn-delete" (click)="deleteLecture(lecture.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="subheader">Add New Lecture</h3>
  <form class="add-form" (submit)="addLecture()">
    <div class="form-group">
      <label>Day:</label>
      <select
        class="form-control"
        [(ngModel)]="newLecture.dayScheduleId"
        name="dayScheduleId"
      >
        <option *ngFor="let day of weekDays; let i = index" [value]="i">
          {{ day }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Time:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newLecture.time"
        name="time"
      />
    </div>
    <div class="form-group">
      <label>Title:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newLecture.title"
        name="title"
      />
    </div>
    <button type="submit" class="btn-add">Add Lecture</button>
  </form>
</div>
